/* GOOGLE FONTS  */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  border-bottom: 1px solid #dde2eb;
}

.logo {
  letter-spacing: 3px;
  line-height: 25%;
  text-align: center;
  color: #FF0047;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav__item {
  list-style: none;
  margin: 0;
}

.nav__link {
  color: black;
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5rem;
  float: left;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

.home {
  display: flex;
}

/* Change the color of links on hover */
.nav__link:hover {
  background-color: #FF0047;
  color: white;
}

/* ABOUT */

.about {
  margin: 50px 200px 50px 200px;
  padding-bottom: 20%;
}

.about__img{
  width:350px;
  border-radius: .5rem;
  float: left;
  padding-right: 50px;
}

.about__title {
  color: black;
  font-family: 'League Spartan', sans-serif;
  font-size: 2rem;
  text-align: left;
}

.about__description {
  font-size: 1.5rem;
  text-align: justify;
}

/* HOME */

.home__img {
  width: 70%;
  float: left;
}

.home__content {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.25rem;
  padding-top: 25px;
  padding-left: 50px;
  text-align: justify;
  width: 350px;
}

.content__item {
   color: black;
   display:block;
   padding: 14px 16px;
 }

.content__item:after {
  display:block;
  content: '';
  border-bottom: 2px solid #FF0047;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.content__item:hover {
  color: #FF0047;
}
.content__item:hover:after {
  transform: scaleX(1);
}
.content__item.fromRight:after{
  transform-origin:100% 50%;
}
.content__item.fromLeft:after{
  transform-origin: 0% 50%;
}

/* CONTACT */

iframe {
  width: 250px;
  height: 250px;
}

footer {
  padding-left: 200px;
  display: flex;
  margin-bottom: 50px;
}
