/* GOOGLE FONTS  */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  color: black;
  border-bottom: 1px solid #dde2eb;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
  background-color: #eaeaea;
  transition: top 500ms ease-in-out;
  z-index: 1;
}

header.scroll-up,
header:focus-within {
  top: 0;
}

header.scroll-down {
  top: -100%;
}

.logo {
  letter-spacing: 3px;
  line-height: 25%;
  text-align: center;
  color: #FF0047;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav__item {
  list-style: none;
  margin: 0;
}

.nav__link, .nav__mail, .nav__phone {
  color: black;
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5rem;
  padding: 14px 16px;
  text-decoration: none;
}

#nav_mail, #nav_phone {
  font-size: 40px;
}

.nav__mail:hover, .nav__phone:hover{
  color: #FF0047;
  cursor: pointer;
  animation: jelly 0.5s;
}

@keyframes jelly {

  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.nav__icon {
  display: flex;
  align-items: center;
}

/* Change the color of links on hover */
.nav__link:hover {
  background-color: #FF0047;
  color: white;
}

/* ABOUT */

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
}

.about__img{
  width: 400px;
  border-radius: .5rem;
  cursor: pointer;
}

.about__title, .contact__title{
  color: black;
  font-family: 'League Spartan', sans-serif;
  font-size: 2rem;
  text-align: left;
  cursor: pointer;
}

.about__description {
  font-size: 1.5rem;
  text-align: justify;
}
.about__content {
  width: 60%;
}


/* HOME */

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
}

.home__content {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.25rem;
  width: 25%;
}

.content__item {
   color: black;
   display:block;
   cursor: pointer;
 }


.content__item:after, .about__title:after, .contact__title:after {
  display:block;
  content: '';
  border-bottom: 2px solid #FF0047;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.contact__title:hover{
  color: #FF0047;
}

.content__item:hover:after, .about__title:hover:after, .contact__title:hover:after {
  transform: scaleX(1);
}

.content__item.fromRight:after, .about__title.fromRight:after, .contact__title.fromRight:after{
  transform-origin:100% 50%;
}

.content__item.fromLeft:after, .about__title.fromLeft:after, .contact__title.fromLeft:after{
  transform-origin: 0% 50%;
}

.content__description, .about__description{
  color: grey;
  font-size: 22px;
  cursor: pointer;
}
/* .content__description:hover, .about__description:hover{
  color: #FF0047;
} */

.about__content:hover .about__title{
  color: #FF0047;
}

.about__content:hover .about__description{
  color: #FF0047;
}

.about__us:hover .content__item {
  color: #FF0047;
}

.about__us:hover .content__description {
  color: #FF0047;
}

.design:hover .content__item {
  color: #FF0047;
}

.design:hover .content__description {
  color: #FF0047;
}
.threeD:hover .content__item {
  color: #FF0047;
}

.threeD:hover .content__description {
  color: #FF0047;
}

.accessories:hover .content__item {
  color: #FF0047;
}

.accessories:hover .content__description {
  color: #FF0047;
}
/* CONTACT */

iframe {
  width: 200px;
  height: 200px;
  padding-right: 20px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #eaeaea;
  border-bottom: 50px solid #FF0047;
}

#maps {
  padding-right: 20px;
  padding-top: 50px;
}

.bx {
  color: #FF0047;
  font-size: 25px;
}

#contact_us {
  font-size: 20px;
  font-family: 'League Spartan', sans-serif;
  cursor: pointer;
}

#contact_us:hover{
  color: #FF0047;
}

.contact {
  padding-right: 150px;
  padding-bottom: 20px;
}

/* i:hover{
  color: #FF0047;
} */

#portfolio{
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 50px;
}

#slideshow-container {
  position: relative;
  z-index: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 1100px;
  height: 650px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  padding: 16px;
  color: white;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* Style the image to scroll horizontal */
.myImg {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover, .about__img:hover {
  opacity: 0.7;
}
/* GO TO TOP BUTTON */
#myBtn {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 50px;
  right: 10px;
  z-index: 99; /* Make sure it does not overlap */
  border: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

/* DOTS */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 25px;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}