body {
  background-color: #b8c4d1;
  width: 100%;
  height: 100%;
}

.calculator {
  background-color: #598087;
  width: 280px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10%;
  border: 1px solid black;
}

.calculator #display {
  background-color: grey;
  height: 70px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border: 1px solid black;
  font-size: 40px;
  color: black;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons .rows {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}
button {
  display: block;
  width: 70px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.equal {
  width: 140px;
}
