body {
  background-color: grey;
  width: 100%;
  height: 100%;
}

.calculator {
  background-color: #e0dce6;
  width: 280px;
  height: 400px;
  margin: auto;
  margin-top: 15%;
  border: 1px solid black;
  border-radius: 5px;
}

#display {
  height: 73px;
  border: 1px solid black;
  background-color: #b4acbf;
  font-size: 50px;
  display: grid;
  justify-content: end;
  align-content: end;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);

}

.buttons > button {
  width: 70px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
}

.grey_operator{
  background-color: #837b8c;
}

.orange_operator {
  background-color: orange;
}

.buttons .zero {
  grid-column: 1/3;
  grid-row: 5;
  width: 140px;
  justify-self: center;

}
