.header-logo {
  display: flex;
  justify-content: center;
  background-color: #eeeee4;
}

#clear_button {
  width: 100%;
}
.container {
  cursor: pointer;
}

.content {
  background-color: red;
  height: 100%;
}
